html {
  font-size: 100%;
  height: 100%;
  font: #fff;

}

p {
	margin-bottom: -5px;
	font-size: 18px;
	font-family: 'Questrial', sans-serif;
	color: white;
}

.wrapper {
     margin: 0 auto;
     width: 100%;
     text-align: center;
}

.container {
	background-color: #5d5d5d;
	background-size: cover;
	border-radius: 10px;
	position: absolute;
  	width: 310px;
  	height: 444px;
  	top: 20%;
  	left: 40%;
  	margin-top: 20px;
  	box-shadow: 2px 2px 2px  2px black;
}

table, th, td {
  border: none;
  border-spacing: 15px;
  border-radius: 5px;
  border-collapse: separate;  
  padding: 10px;
  text-align: center;
  font-family: 'Questrial', sans-serif;
}

td {
  width: 35px;
  box-shadow: 2px 2px 2px black;
  color: white;
  cursor: pointer;
  background-color: #333;
}

td:active {
  box-shadow: 2px 2px 2px black inset;
}

.display td {
  height: 60px;
  max-width: 500px;
  overflow: hidden;
  text-align: right;
  font-size: 25px;
  background-color: white;
  color: #000;
  /*text-shadow: 0.5px 0.5px black;*/
}

.clear {
	background-color: #8B0000;
}
